html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ================= HUD ================= */

.hud {
  position: absolute;
  top: 15px;
  left: 15px;

  background: rgba(0, 0, 0, 0.85);
  color: #00ffcc;

  padding: 10px 18px;
  border-radius: 30px;

  font-family: monospace;
  font-size: 13px;

  display: flex;
  align-items: center;
  gap: 18px;

  z-index: 1000;

  backdrop-filter: blur(6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

.hud b {
  color: #ffffff;
  font-weight: bold;
}

button {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;

  cursor: pointer;
  font-weight: bold;

  background: linear-gradient(135deg, #00ffcc, #00c3ff);
  color: black;

  transition: 0.25s ease;
}